*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 197, 255);
}
#panel{
    width: 90%;
    height: 84%;
    background-color: aliceblue;
    border-radius: 10px;
}
#ptop{
    padding: 0px 20px;
    margin-left: 30px;
    margin-top: 10px;
    width: 95%;
    height: 60px;
    background-color: rgb(143, 248, 248);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 20%;
}
.box{
   color: rgb(90, 116, 116);
    background-color: rgb(237, 255, 149);
    font-weight: 600;
    font-size: 25px;
   padding: 10px 20px;
    border-radius: 10px;
    border-color: blueviolet;
   
}
#pbot{
    width: 100%;
    height: calc(100% - 60px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
   
}
.bubble,.bt{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(82, 165, 81);
    border-radius: 50%;
    font-weight: 800;
    font-size: large;
}
.ref{
    margin: 2rem;
    width: 6rem;
    height: 2rem;
    background-color: aqua;
    color: black;
    border-radius: 6px;
    border-color: brown;
    box-shadow: 10px;
}
.bubble:hover{
    background-color: rgb(94, 147, 101);
}